<form class="form-horizontal" style="margin-left: 20px">
  <div class="form-group">
    <label for="companyId" class="control-label col-sm-2">Company Id</label>
    <div class="col-sm-6">
        <input class="form-control" placeholder="Insert Company ID To Remove"
                type="number" name="companyId" [(ngModel)] = "idtoremove" />
    </div>
  </div>
<hr>
  <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
          <button (click)= "removeCompany()" type="remove" class="btn btn-default">Remove <span class="glyphicon glyphicon-floppy-remove"></span></button>
      </div>
  </div>
</form>