<form class="form-horizontal" style="margin-left: 20px">

  <div class="form-group">
      <label for="inputEndDate" class="control-label col-sm-2">EndDate</label>
      <div class="col-sm-6">
          <input class="form-control" placeholder="Insert EndDate"
          [(ngModel)] = "coupon.endDate"
                  type="date" id="inputEndDate" name="couponEndDate"/>
      </div>
  </div>
  
  <div class="form-group">
    <label for="inputPrice" class="control-label col-sm-2">Coupon Price</label>
    <div class="col-sm-6">
        <input class="form-control" placeholder="Insert Price"
        [(ngModel)] = "coupon.price"
                    type="number" id="inputPrice" name="CouponPrice"/>
    </div>
  </div>
  
  <div class="form-group">
    <label for="inputCouponID" class="control-label col-sm-2">CouponID</label>
    <div class="col-sm-6">
        <input class="form-control" placeholder="Insert CouponID"
        [(ngModel)] = "coupon.id"
                type="text" id="CouponID" name="couponId" />
    </div>
  </div>
  
  <hr>
  <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
           <button (click)="updateCoupon()" class="btn btn-primary btn-lg">Update Coupon <span class="glyphicon glyphicon-floppy-saved"></span></button>
          </div>
  </div>
  
      <pre>
        {{coupon | json}}
    </pre>
  </form>