<table style="margin-left: 10px"  class="table table-striped">
  <thead>
      <tr>
          <th>Id</th>
          <th>title</th>
          <th>startDate</th>
          <th>endDate</th>
          <th>type</th>
          <th>message</th>
          <th>price</th>
          <th>image</th>
      </tr>
  </thead>
<tbody>
  <tr *ngFor="let c of _coupons">
    <td>{{c.id}}</td>
    <td>{{c.title}}</td>
    <td>{{c.startDate}}</td>
    <td>{{c.endDate}}</td>
    <td>{{c.type}}</td>
    <td>{{c.message}}</td>
    <td>{{c.price}}</td>
    <td>{{c.image}}</td>
  </tr>
</tbody>
</table>

<div class="form-group">
<div class="col-sm-offset-2 col-sm-10">
<button (click) = "getAllPurchesedCoupons()" class="btn btn-primary btn-lg">Get All Purchesed Coupons <span class="glyphicon glyphicon-search"></span></button>
</div>
</div>