
<form class="form-horizontal" style="margin-left: 20px">
  <div class="form-group">
      <label for="customerName" class="control-label col-sm-2">Customer Name</label>
      <div class="col-sm-6">
          <input class="form-control" placeholder="Insert New Customer Name"
          [(ngModel)] = "customer.custName"
                  type="text" id="customerName" name="cutomerName" />
      </div>
  </div>
  <div class="form-group">
      <label for="inputPassword" class="control-label col-sm-2">Password</label>
      <div class="col-sm-6">
          <input class="form-control" placeholder="Insert New Password"
          [(ngModel)] = "customer.password"
                  type="password" id="inputPassword" name="password"/>
      </div>
  </div>
  <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button (click)="createCustomer()" class="btn btn-default">Create Customer</button>
      </div>
  </div>
  <pre>
        {{customer | json}}
   </pre>
</form>