<form class="form-horizontal" style="margin-left: 20px">
  <div class="form-group">
      <label for="CompanyCouponsByTheirType" class="control-label col-sm-2">Coupon Type</label>
      <div class="col-sm-6">
          <input class="form-control" placeholder="Insert Coupons Type"
                  type="text" id="CompanyCouponsByTheirType" />
      </div>
  </div>
<hr>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
     <button class="btn btn-primary btn-lg">Get Coupons <span class="glyphicon glyphicon-search"></span></button>
      </div>
</div>
</form>