<html lang="en">
<head>
<p>genral page</p>
</head>

<body>
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Refresh</a></li>
                <li><a routerLink="/createCoupon">Create Coupon <span class="glyphicon glyphicon-plus"></span> </a></li>
                <li><a routerLink="/removeCoupon">Remove Coupon <span class="glyphicon glyphicon-floppy-remove"></span> </a></li>
                <li><a routerLink="/updateCoupon">Update Coupon <span class="glyphicon glyphicon-floppy-saved"></span> </a></li>
                <li><a routerLink="/getCoupon">Get Coupon By ID <span class="glyphicon glyphicon-search"></span> </a></li>
                <li><a routerLink="/getAllCoupons">Get All Coupons <span class="glyphicon glyphicon-search"></span> </a></li>
                <li><a routerLink="/getCouponsByType">Get Coupons By Type <span class="glyphicon glyphicon-search"></span> </a></li>
                <li><a routerLink="/getCouponLasserThenGivenPrice">Get Coupons Lasser Then Given Price <span class="glyphicon glyphicon-search"></span> </a></li>
                <li><a routerLink="/getCouponUpToGivenEndDate">Get Coupons Up TO Given End Date <span class="glyphicon glyphicon-search"></span> </a></li>
                <li><a routerLink="/getAllCompanyCoupons">Get All Company Coupons</a></li>
                <li><a routerLink="/getCompanyCouponsByTheirType">Get Company Coupons By Their Type </a></li>
                <li><a routerLink="/getCouponUpToGivenEndDate">Get Coupons Up TO Given End Date </a></li> -->
            </ul>
        </div>
    </nav>
</body>
</html>
<router-outlet></router-outlet>

